<div class="post-list-container">
  <div class="row">
      <div class="col-sm-12">
        <div class="post-item-container" *ngFor="let item of items">
          <h4><a [routerLink]="['/posts/detail',item.id]">{{item.title}}</a></h4>
          <p>
            <span>{{item.author}}</span>
            <span>{{item.postTime}}</span>
            <span>{{item.readTimes}}</span>
            <span>{{item.commentTimes}}</span>
          </p>
        </div>
        <pagination class="pagination-sm"
                    [totalItems]="totalItems"
                    [maxSize]="maxSize"
                    [itemsPerPage]="itemsPerPage"
                    [(ngModel)]="currentPage"
                    (pageChanged)="pageChanged($event)"
        ></pagination>
      </div>
  </div>
</div>
